/* Barra de navegacion */

.navbar {
    padding: 1rem;
    background-color: #f5f6f7;
  }
  
  .navbar-collapse {
    align-items: center;
    justify-content: space-between;  
  }
  
  #ulNavBar :hover{
    /* border: 1px solid lightslategray;
    border-radius: 8px; */
    background-color: #198754;
    color: white;
  }

  /* Estilos generales */  
  section {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  h1 {
    font-size: 2.5rem;
    font-family: 'Rubik Dirt', cursive;
  }
  
  .seccion-oscura {
    color: white;
    background-color: #1b1b32;
  }
  
  .seccion-clara {
    color: black;
    /* background-color: white; */
    background-image: url("tecnologyBackground.jpg");
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  }
  
  .seccion-titulo {
    font-size: 2rem;
    padding: 15px 0;
    font-family: 'Rubik Dirt', cursive;
    color: white;
  }

  .texto-fuente {
    font-size: 2rem;
    font-family: 'Rubik Dirt', cursive;
  }
  
  .seccion-descripcion {
    font-size: 1.2rem;
    color: #584e4e;
  }
  
  .seccion-texto {
    font-size: 1.2rem;
  }
  
  .btn-info {
    font-size: 1.1rem;
    margin: 20px;
  }
  
  .texto-negro {
    color: black;
  }
  
  .texto-blanco {
    color: white;
  }
  
  /* Seccion Hero */

  .hero {
    background-color: #f5f6f7;
    min-height: 450px;
    text-align: center;
  }
  
  .hero-principal {
    padding-top: 3rem;
    padding-bottom: 4rem;
  }

  /* .hero-principal h1{
    backdrop-filter: blur(50px);
  } */
  
  .hero-imagen-desarrollador {
    width: 200px;
    height: 200px;
    margin: 20px;
  }
  
  .hero-principal h2 {
    font-size: 2rem;
    color:gray;
    /* color: #615151; */
  }
  
  .img-Port{
    object-fit: cover;
    height: 50px;
    width: 50px;
  }
  /* Sobre mi */
  
  .sobre-mi {
    height:500px;
    padding: 10px;
  }
  
  .sobre-mi .contenedor {
    max-width: 600px;
    text-align: center;
  }
  
  /* Experiencia */
  
  .experiencia {
    padding: 40px 40px 60px 40px;
  }
  
  .experiencia .columna {
    padding: 20px;
    border: 2px solid #8080804d;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-evenly; */
    transition: all 0.2s ease-in;
  }
  
  .experiencia .columna:hover {
    color: white;
    background-color: #1b1b32;
  }
  
  .experiencia i {
    font-size: 2.5rem;
    color: #7ade30;
    background-color: #0a0a23;
    padding: 8px 19px;
    border-radius: 50%;
  }
  
  .experiencia-titulo {
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .badges-contenedor {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
  }

  /* .badges-contenedor span{
    background-color: #a796d4;
  } */
  
  .badge {
    margin: 1px;
  }
  
  /* Proyectos */
  
  /* .proyecto-individual{
    height: 400px;
  } */

  /* .proyecto-individual:hover{
    color: white;
    background-color: #198754;
    background-color: #1b1b32;
  } */

  .proyectos-recientes {
    padding: 40px;
    margin-bottom: 50px;
  }
  
  .proyectos-recientes img {
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    display: block;
    transition: all 0.2s ease;
    opacity: 1;
  }
  
  .proyectos-contenedor {
    padding-top: 60px;
    margin-bottom: 40px;
  }
  
  .overlay {
    transition: all 0.2s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .overlay a {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0;
    text-decoration: none;
    color: black;
  }
  
  .proyecto-logo {
    position: relative;
  }
  
  .proyecto-logo:hover img {
    opacity: 0.2;
  }
  
  .proyecto-logo:hover .overlay {
    opacity: 1;
  }
  
  .overlay .iconos-contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .overlay i {
    color: black;
    font-size: 60px;
    margin: 10px;
  }
  
  /* Articulos */
  
  .articulos {
    min-height: 500px;
    padding: 30px;
  }
  
  .articulos .card {
    width: 80%;
    max-width: 600px;
    margin: 20px;
  }
  
  .articulos .card-header {
    font-weight: bold;
  }
  
  /* Testimonios */
  
  .testimonios {
    padding: 40px 40px 80px 40px;
  }
  
  .testimonios .carousel {
    max-width: 800px;
  }
  
  .carousel-item {
    height: 500px;
  }
  
  .carousel-item .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .testimonio-imagen {
    height: 150px;
    width: 150px;
    margin: 10px 10px 20px 10px;
  }
  
  .testimonio-texto {
    max-width: 70%;
    font-size: 20px;
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
  }
  
  .testimonio-info {
    font-weight: bold;
    text-align: center;
  }
  
  .testimonio-info p {
    margin-bottom: 0;
  }
  
  .testimonio-footer .cliente {
    font-size: 1.2rem;
  }
  
  .testimonio-info .cargo {
    font-size: 0.9rem;
    color: #656060;
  }
  
  /* Contacto */
  
  .contacto .container {
    max-width: 1100px;
    min-height: 200px;
    padding: 20px;
  }
  
  .contacto .rectangulo {
    margin-top: -5rem;
    background-color: #666688;
    /* background-color: rgb(13, 110, 253); */
    border-radius: 10px;
    box-shadow: 0px 1px 4px 1px #656060;
    border-color: #0a0a23;
  }
  
  .contacto .row {
    width: 100%;
    display: flex;
    align-items: center;
  }
  
  .contacto .descripcion {
    color: black;
    font-size: 1.4rem;
    font-weight: bold;
  }
  
  .contacto button {
    color: #198754;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid #198754;
    padding: 1.25em 2em;
    margin: 10px;
    border-radius: 100px;
    transition: all 0.2s ease-in-out;
  }
  
  .contacto button:hover {
    background-color: #198754;
    border-color: #198754;
    color: white;
  }
  
  .contacto button i {
    color: #198754;
    font-size: 1.3rem;
    transition: all 0.2s ease-in-out;
  }
  
  .contacto button:hover i {
    color: white;
  }
  
  /* Pie de pagina (footer) */
  
  footer {
    min-height: 90px;
  }
  
  .footer-logo {
    height: 80px;
    width: 80px;
    margin: 10px;
  }
  
  .footer-texto {
    font-size: 1.5rem;
    padding: 10px;
    margin-bottom: 10px;
    font-family: 'Quicksand', sans-serif;
  }
  
  .iconos-redes-sociales a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 50%;
    transition: all 0.2s ease-in;
    background-color: white;
  }
  
  .iconos-redes-sociales i {
    color: black;
    font-size: 1.5rem;
    transition: all 0.2s ease-in;
  }
  
  .iconos-redes-sociales a:hover {
    background-color: black;
    border: 2px solid black;
  }
  
  .iconos-redes-sociales a:hover i {
    color: white;
  }
  
  .derechos-de-autor {
    font-size: 15px;
    color: #aeaeae;
    padding: 20px;
  }
  
  /* Adaptable (Responsivo) */
  
  @media screen and (max-width: 400px) {
    .overlay p {
      font-size: 18px;
    }
  
    .overlay i {
      font-size: 40px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .navbar-brand {
      display: none;
    }

    .hero-principal {
      padding-top: 4rem;
      padding-bottom: 1rem;
    }

    .h7{
      font-size: 12px;
    }

    .h7-framework{
      font-size: 9px;
    }
  }
  
  @media screen and (max-width: 800px) {
    .testimonio-imagen {
      height: 120px;
      width: 120px;
    }
  
    .testimonio-texto {
      font-size: 18px;
    }
  }
  
  @media screen and (min-width: 700px) {
    .hero-inferior-imagen {
      max-width: 600px;
    }
  }